.slider * {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.slider.rangeSlider {
  position: relative;
}
.slider.rangeSlider input[type="range"] {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
.slider.rangeSlider input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  pointer-events: all;
}
.slider.rangeSlider input[type="range"]:last-child {
  background: none;
}
.slider .currentValue {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  outline: none;
  opacity: 0.7;
  border-radius: 12px;
}
.slider input[type="range"]:hover {
  opacity: 1;
}
.slider input[type="range"]:hover::-webkit-slider-thumb {
  background: #69c0ff;
}
.slider input[type="range"]::-webkit-slider-thumb {
  content: "40";
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 10px;
  border-radius: 6px;
  background: dodgerblue;
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
