.allSliders {
    width                   : 100%;
    // display              : grid;
    // grid-template-columns: repeat(2, 1fr);
    display                 : flex;
    align-items             : center;
    flex-wrap               : wrap;

    .sliderContainer {
        height     : 50vh;
        display    : flex;
        align-items: center;
        width      : 100%;
        color      : #fff;
        padding    : 3rem;
        position   : relative;
        flex-basis : 50%;


        &.customSliderContainer {

            display: block;

            .allCustomInputs {
                display    : flex;
                margin     : 5rem 0 1rem 0;
                margin-left: 1rem;

                .inputContainer {
                    line-height : 1.5;
                    margin-right: 1rem;

                    &:last-child {
                        margin: 0px;
                    }

                    .inputLabel {
                        font-weight: 300;
                        font-size  : 16px;
                    }

                    input {
                        margin-top   : 5px;
                        background   : #757575;
                        box-shadow   : none;
                        border-radius: 8px;
                        border       : none;
                        padding      : 12px;
                        font-size    : 15px;
                        color        : #ffffff;
                        width        : 75px;
                        font-family  : inherit;
                        outline      : none;
                    }
                }
            }
        }

        &:first-child {
            background: #002766;
        }

        &:nth-child(2) {
            background: #3a7359;
        }

        &:nth-child(3) {
            background: #71252c;
        }

        &:last-child {
            flex-basis: 100%;
            background: #363537;
        }

        .typeOfSlider {
            position   : absolute;
            font-size  : 2rem;
            left       : 4rem;
            top        : 3rem;
            font-weight: 600;
        }

        .slider {
            width    : 100%;
            max-width: 600px;
            padding  : 1rem;

            &.vertical {
                max-width: 290px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .allSliders {

        // grid-template-columns: none;
        // grid-template-rows   : repeat(2, 1fr);
        .sliderContainer {
            flex-basis: 100%;
        }
    }
}