.allSliders {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.allSliders .sliderContainer {
  height: 50vh;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 3rem;
  position: relative;
  flex-basis: 50%;
}
.allSliders .sliderContainer.customSliderContainer {
  display: block;
}
.allSliders .sliderContainer.customSliderContainer .allCustomInputs {
  display: flex;
  margin: 5rem 0 1rem 0;
  margin-left: 1rem;
}
.allSliders .sliderContainer.customSliderContainer .allCustomInputs .inputContainer {
  line-height: 1.5;
  margin-right: 1rem;
}
.allSliders .sliderContainer.customSliderContainer .allCustomInputs .inputContainer:last-child {
  margin: 0px;
}
.allSliders .sliderContainer.customSliderContainer .allCustomInputs .inputContainer .inputLabel {
  font-weight: 300;
  font-size: 16px;
}
.allSliders .sliderContainer.customSliderContainer .allCustomInputs .inputContainer input {
  margin-top: 5px;
  background: #757575;
  box-shadow: none;
  border-radius: 8px;
  border: none;
  padding: 12px;
  font-size: 15px;
  color: #ffffff;
  width: 75px;
  font-family: inherit;
  outline: none;
}
.allSliders .sliderContainer:first-child {
  background: #002766;
}
.allSliders .sliderContainer:nth-child(2) {
  background: #3a7359;
}
.allSliders .sliderContainer:nth-child(3) {
  background: #71252c;
}
.allSliders .sliderContainer:last-child {
  flex-basis: 100%;
  background: #363537;
}
.allSliders .sliderContainer .typeOfSlider {
  position: absolute;
  font-size: 2rem;
  left: 4rem;
  top: 3rem;
  font-weight: 600;
}
.allSliders .sliderContainer .slider {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
}
.allSliders .sliderContainer .slider.vertical {
  max-width: 290px;
}
@media screen and (max-width: 600px) {
  .allSliders .sliderContainer {
    flex-basis: 100%;
  }
}
